<main class="container p-5">
    <div>
        {{#if this.successMessg}}
            <p class="text-success">Updated</p>
        {{/if}}
        {{#if this.failMessg}}
            <p class="text-danger">Did Not Update</p>
        {{/if}}
        {{#if this.classFull}}
            <p class="text-warning">Class Is Full, Check Waitlist</p>
        {{/if}}
        <table class="table table-dark">
            <thead>
                <tr class="table-active">
                    <th scope='col'>Select</th>
                    <th scope='col'>Id</th>
                    <th scope='col'>Couse</th>
                    <th scope='col'>Time</th>
                </tr>
            </thead>
            <tbody>
                {{#if this.coursesInCart}}
                    {{#each this.coursesInCart as |course|}}
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger" onclick={{action "delete" course.ID}}>Delete</button>
                            <button type="button" class="btn btn-success" onclick={{action "add" course.ID}}>Add</button>
                        </td>
                        <td>{{course.ID}}</td>
                        <td>{{course.Name}}{{course.Number}}</td>
                        <td>{{course.Time}}</td>
                    </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td>
                            <p>You have no courses in your cart!</p>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</main>