<main class="container pt-5 px-5">
    {{#each this.courses as |course|}}
    <div class="row pt-5">
        <div class="col">
            <p class="h1">
            {{course.Name}} {{course.Number}}
            </p>
            <p>ID: {{course.ID}}</p>
            <p>Instructor: {{course.Instructor}}</p>
            <p>Total Enrollement: {{course.Total_Enrollement}}</p>
        </div>
        <div class="col">
            <p class="pt-3">Description: {{course.Description}}</p>
            <p>Time: {{course.Time}}</p>
            <form class="pt-3">
                <input class="form-check-input" type="checkbox" value="" id="waitList">
                <label class="form-check-label" for="waitList">
                    Waitlist
                </label>
                <button type="button" class="btn btn-success" onclick={{action "submit" course.ID course.Name course.Number course.Time}}>Add Course To Shopping Cart</button>
            </form>
        </div>
    </div>
    {{/each}}
</main>