<nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" {{on "click" changeToMain}}>Registrar</a>
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" {{on "click" changeToMain}}>Schedule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" {{on "click" changeToCart}}>Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" {{on "click" changeToSearch}}>Search</a>
                </li>
                <li class="nav-item">
                  {{#if @cookie}}
                    <a class="nav-link" {{on "click" changeToDefLogOut}}>Log Out</a>
                  {{else}}
                    <a class="nav-link" {{on "click" changeToLogin}}>Login</a>
                  {{/if}}
                </li>
              </ul>
        </div>
    </nav>